<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        <div class="header-left">
            <a class="home-icon"><img src="/ticket-assignment-logo.png" alt="Website logo" width="150" height="90"></a>
            <h1>Error</h1>
        </div>
    </div>
    <div class="container">
        <h2>Oops! Something went wrong.</h2>
        <p>We're sorry, but the page you are looking for cannot be found.</p>
        <p>This might be because:</p>
        <ul>
            <li>The page has been moved or deleted.</li>
            <li>The URL you entered is incorrect.</li>
            <li>An unexpected error has occurred.</li>
        </ul>
        <p>You can try to login again</p>
        <div class="button-container">
            <a href="/login-info" class="btn">Login</a>
        </div>
    </div>
</body>
</html>