<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <div class="header">
        <div class="header-left">
            <a class="home-icon"> <img src="/ticket-assignment-logo.png" alt="Website logo" width="150" height="90"></a>
            <h1>Home</h1>
        </div>
    </div>
    <div class="container">
        <h2>Welcome to the Home Page!</h2>
        <p>This website uses intuative group role assignment to optimize ticket handling within an IT department.</p>
        <p>Each ticket will be handed according to the following components:</p>
        <ul>
            <li>The specific issues priority</li>
            <li>The availability of each agent</li>
            <li>Each agents respective abilites for each task</li>
        </ul>
        <p>Feel free to login explore the rest of the application or sign up to get started:</p>
        <div class="button-container">
            <a href="/login-info" class="btn">Login</a>
            <a href="/signup-enterpriseinfo" class="btn">Sign Up</a>
        </div>
    </div>
</body>